img{
 width: 100px;
  height: 100px;

}

.box{
 display: flex;
 width: 200px;
 height: 200px;
 border: 1px solid black;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 10px;
 border-radius: 5px;
}

.boxAll{
 margin-top: 50px;
 margin-left: 200px;
 display: flex;
 width: 1400px;
 border: 1px solid black;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 15px;
 padding: 10px;
}